.aboutCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 100px;
}

.aboutCardText {
  padding: 80px 20px;
}

.aboutCardHeadline {
  color: var(--peach);
}

.aboutUs.aboutPage {
  margin-top: 0;
}
