.aboutUs.contactPage {
  margin-top: 120px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.formInput {
  border: none;
  width: 100%;
  background: none;
  padding: 15px 0;
  border-bottom: 1px solid;
  border-color: white;
  margin-bottom: 15px;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: white;
}

.formInput:focus {
  color: white;
  outline: none;
  border: 1px solid var(--lightPeach);
}

/* --Remove Chrome Autofill Styles-- */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  transition: background-color 5000s;
  -webkit-text-fill-color: white !important;
}

::placeholder {
  color: var(--lightPeach);
  opacity: 1;
}

.button.submit {
  width: 50%;
  margin-top: 30px;
}

#contactLogo {
  padding-top: 0;
}

/* FORM VALIDATION STYLES */

/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid;
  border-color: white;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px var(--peach) inset;
  transition: background-color 5000s ease-in-out 0s;
}*/
