.headerNav ul {
  display: none;
}

.navLinks {
  list-style-type: none;
}

.navLinks li:hover,
.footerNav li:hover {
  opacity: 0.5;
}

.mobileNav {
  position: absolute;
  background-color: var(--black);
  top: 122px;
  left: 0;
  right: 0;
  z-index: 2001;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  padding: 48px 24px;
  transform: translate3d(-100vw, 0, 0);
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
}

.overlay {
  position: absolute;
  width: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  z-index: 2000;
  transform: translate3d(-100vw, 0, 0);
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  transition: opacity 0.8s;
}

.mobileNav .navLinks {
  margin: 0;
  padding: 0;
}

.navLinks li:not(:last-child) {
  margin-bottom: 35px;
}

.active {
  transform: translate3d(0vw, 0, 0);
  opacity: 1;
}
