.hero.projectHero {
  background-image: url(../assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg);
  background-position: top 100% right -25px;
  background-size: 1000px;
  min-height: 320px;
  justify-content: center;
  margin-bottom: 96px;
}

.hero.projectHero.aboutHero {
  margin-bottom: 0;
  background-size: 850px;
  background-position: top 300% right 0;
}

.hero.projectHero p {
  margin-bottom: 0;
}

.heroText.projectHeroText {
  padding: 80px 25px;
}

.projectTextCard {
  padding: 24px 24px 55px 24px;
}

.projectTitle {
  color: var(--peach);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0.5rem;
}

.projectText {
  color: var(--black);
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

@media only screen and (min-width: 508px) {
  .hero.projectHero.aboutHero {
    background-position: top 225% right 0;
  }
}

@media only screen and (min-width: 768px) {
  .projectCard {
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
  }

  .projectTextCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
  }

  .hero.projectHero {
    background-image: url(../assets/shared/tablet/bg-pattern-design-pages-intro-tablet.svg);
    background-position: top 50% right 60%;
  }

  .hero.projectHero.aboutHero {
    background-image: url(../assets/about/desktop/bg-pattern-hero-about-desktop.svg);
    background-position: top 150% right -50%;
  }
}
